mixin navDropdown(navDropdownId='navbar-dropdown', catalog, dropdownItems)
  li.nav-item.dropdown
    |
    |
    a.nav-link.dropdown-toggle(id=navDropdownId, href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')=catalog
    .dropdown-menu(aria-labelledby=navDropdownId)
      |
      |
      each href, name in dropdownItems
        a.dropdown-item(href=href)=name
        |
        |
//- +navDropdown('navbarDropdown','catalog',{
//-   '首頁':'index.html',
//-   '產品':'product.html'
//-   })


mixin logo(textContent, brand)
  a.block.txt-hide(href='./index.html' class={'navbar-brand': brand})=textContent
    img.logo(src='./img/logo.png', alt=textContent)
header
  .container
    nav.navbar.navbar-expand-l.navbar-light.bg-light
      // 文章頁面主標題會使用到h1，一頁只能有一個，請加入判斷。
      |
      |
      if headerH1
        h1.navbar-brand
          +logo(title)

      else
        +logo(title, !headerH1)

      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#mobile-menu' aria-controls='mobile-menu' aria-expanded='false' aria-label='Toggle navigation')
        |
        |
        span.navbar-toggler-icon
      #mobile-menu.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            |
            |
            a.nav-link(href='#') 'Link'
          +navDropdown('navbar-dropdown','選單1',{
            '首頁':'index.html',
            '內頁':'page.html',
            '文章':'page.html',
            })